/*ES 1*/
.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background-color: red;
}

/*ES 2*/
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/*ES 3*/
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}
/*ES 4*/
/*ES 5*/
/*ES 6*/
/*ES 7*/
/*ES 8*/
/*ES 9*/
/*ES 10*/
/*ES 11*/
/*ES 12*/
/*ES 13*/
