/*ES 1*/
.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background-color: red;
}

/*ES 2*/
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/*ES 3*/
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*ES 4*/
.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

/*ES 5*/
.ex-5-square {
    transition: 3s;
}

/*
.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 0px;
    height: 0px;
}
*/

.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.1);
}

/*ES 6*/
.ex-6-img:hover {
    filter: grayscale();
}

/*ES 7*/
/*ES 8*/
/*ES 9*/
/*ES 10*/
/*ES 11*/
/*ES 12*/
/*ES 13*/
